{% extends "basesimple.html" %}

{% block mycss %}
    img {
        width: 200px;
        height: 200px;
    }
{% endblock %}

{% block mycontent %}
    <h1>인터페이스 개발 팀 프로젝트</h1>
    <hr>
    {% load static %}
<!--    {% if kind == "list" %"}-->
    {% if result|length == 3 %}
        <h2>우리팀의 팀원을 소개합니다.</h2>
        <ul>
            {% for member in result %}
                <li>{{ member }}</li>
            {% endfor %}
        </ul>
        {% static "images/clover.png" as image %}
    {% else %}
        <h2>{{ result }}</h2>
        {% static "images/duke.png" as image %}
    {% endif %}
    <img src="{{ image }}">
{% endblock %}