<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: 'CWDangamAsac-Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }

        span {
            color: darkturquoise;
            font-family: "CWDangamAsac-Bold";
        }
    </style>
</head>
<body>
    <h1>안녕하세요? <span>{{month}}월 {{date}}일</span>에 만든 첫 장고 웹 페이지 입니다.</h1>
</body>
</html>